

<div class="mt-2 p-2 bg-secondary text-white rounded">
    <h1>for-switch</h1>
    
    <button class="btn btn-primary" >for-switch</button>
</div>


 <div class="row">
    <div class="col-3">
        <ul>
            @for(item of city;track $index)
            {
                <li>{{item}}</li>
            }  
        </ul>
    </div>

    <div class="col-3">
    @for(item of city;track $index)
    {
        <div>{{item}}  </div>
    }
        
    </div>

    <div class="col-3">
    <select>
    @for(item of city;track $index)
    {
        <option>{{item}} </option>
    }
    
    </select>
    </div>

    <div class="col-3">
        <select>
        @for(item of studentList; track $index)
        {
             <option value="item.id">{{item.name}}</option>
        }
       
        </select>
    </div>

</div>
   

<div class="row">
<div class="col-5">
    <table class="table table-borderd">
        <thead>
            <tr>
                <th>Sr no.</th>
                <th>name</th>
                <th>city</th>
                <th>status</th>
            </tr>

        </thead>

        <tbody>
        @for(item of studentList; track $index)
        {
             <tr >
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.city}}</td>
                <td>{{item.isActive}}</td>
            </tr>
        }
           
        </tbody>

    </table>

</div>


</div>


<div class="row">
<div class="col-3">
    <input type="text" [(ngModel)]="daynumber"/>
</div>
<div class="col-3">
    day name is:
    @switch (daynumber)
    {
        @case('1'){
            <span>Monday</span>
        }
        @case('2'){
            <span>tuesday</span>
        }
        @case('3'){
            <span>Wednesday</span>
        }
        @case('4'){
            <span>Thursday</span>
        }
        @case('5'){
            <span>Friday</span>
        }
        @case('6'){
            <span>Saturday</span>
        }
        @case('7'){
            <span>Sunday</span>
        }
        @default
        {
            <span>wrong input</span>
        }
    }
</div>
</div>
