<div class="row">
    <div class="col-2">
    <button class="btn btn-success" (click)="getAllUser()">get User</button>
    </div>

    <div class="col-3">
    <select class="form-select">
        @for(item of userList; track $index){
            <option>{{item.title}}</option>
        }
    </select>
    </div>
</div>

<div class="row my-4" >
    <div class="col-2">
    <button class="btn btn-danger" (click)="getAllCoustomer()">get costomer</button>
    </div>

    <div class="col-3">
    <select class="form-select">
        @for(item of coustomerList; track $index){
            <option>{{item.name}}</option>
        }
    </select>
    </div>
</div>