

<div class="mt-2 p-2 bg-secondary text-white rounded">
    <h1>if-else</h1>
    <p>if-else</p>
    <button class="btn btn-primary" >go to attribute directive</button>
</div>

<div class="row pt-3">
    <div class="col-3">
        @if(isActive)
    {
        <div  class="bg-danger p-3 text-center" >
            <h4>Div-1</h4>
        </div>
    }
        
    </div>

    <div class="col-3">
    @if(isWarnDiv2)
    {
        <div class="bg-danger p-3 text-center" >
            <h4>Div-2</h4>
        </div>
    }@else 
    {
         <div class="bg-success p-3 text-center" >
            <h4>Div-2</h4>
        </div>
    }
    </div>

    <div class="col-3">
    @if(num1==num2)
    {
        <div class="bg-danger p-3 text-center">
            <h4>Div-3</h4>
        </div>
    }
    </div>

    <div class="col-3">
        <div class="bg-success p-3 text-center">
        @if(selectedStatus=="active")
        {
        <p>student active</p>
        }
        @else if(selectedStatus=="de-active")
        {
        <p>student de-active</p>
        }
        @else if(selectedStatus=="pending")
        {
        <p>status pending</p>
        }
        @else{
            <p>please select status</p>
        }
        </div>
    </div>
    
</div>

<div class="row pt-3">
    <div class="col-3 text-center">
        <button class="btn btn-danger" (click)="hide()">Hide</button>
        <button class="btn btn-primary mx-2" (click)="show()">show</button>
    </div>
    <div class="col-3 text-center">
        <button class="btn btn-success" (click)="toggleDiv2()">toggle</button>
    </div>

    <div class="col-3">
        <div style="display:flex; align-items:center">
            <input type="text"  placeholder="NUM-1" [(ngModel)]="num1" class="width-50">
            <input type="text"  placeholder="NUM-2" [(ngModel)]="num2" class="width-50">
        </div>
    </div>

    <div class="col-3">
        <div style="display:flex; align-items:center">
            <select [(ngModel)]="selectedStatus">
            <option value="">pending</option>
            <option value="active">student active</option>
            <option value="de-active">student de-active</option>
            <option value="pending">status pending</option>
            </select>
        </div>
    </div>


</div>


<!-- <div class="row">
    <div class="col-3">
        <ul>
            <li </li>
        </ul>
    </div>

    <div class="col-3">
        <div *ngFor="let cityname of cityArray"> {{cityname}} </div>
    </div>

    <div class="col-3">
    <select>
    <option *ngFor="let city of cityArray" value="">{{city}}</option>
    </select>
    </div>

    <div class="col-3">
        <select>
        <option *ngFor="let stud of studentList" [value]="stud.id">{{stud.name}}</option>
        </select>
    </div>

</div>
   

<div class="row">
<div class="col-5">
    <table class="table table-borderd">
        <thead>
            <tr>
                <th>Sr no.</th>
                <th>name</th>
                <th>city</th>
                <th>status</th>
            </tr>

        </thead>

        <tbody>
            <tr *ngFor="let student of studentList;let srNo=index">
                <td>srNo</td>
                <td>{{student.name}}</td>
                <td>{{student.city}}<td>
                <td>
                    <span *ngIf="student.isActive">Active</span>
                    <span *ngIf="!student.isActive">De-Active</span>
                </td>
            </tr>
        </tbody>

    </table>

</div>


</div> -->
